---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Link from "@components/Link.astro";

const CS50Url =
  "https://courses.edx.org/certificates/5cc083930f4a4e51a726e3824d8bced3";
const kotlinCoreUrl =
  "https://hyperskill.org/certificates/f36876d1-af52-4b8b-b2d2-f72cf9211777.pdf";
const ASMUrl =
  "https://mylogin.exin.nl/polarserver.asp?ToolName=CertificateCheckTool&LastName=Bashir&CertificateNumber=6547490.20867375&ModuleID=630589";
const ASFUrl =
  "https://mylogin.exin.nl/polarserver.asp?ToolName=CertificateCheckTool&LastName=Bashir&CertificateNumber=6547490.20866517&ModuleID=630548";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Currently, I'm retraining as an IT Specialist - Application Developer at BBQ
    Hamburg Institute. I've worked remotely and freelanced as a Technical
    Writer. I've been learning programming for over 2 years, working on solo
    projects to apply my skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="IT-Specialist Apps Developer (German: Umschulung - Fachinformatiker/AE)"
      subtitle="Feb. 2023 to Jan. 2025 at BBQ Institute, Hamburg, Germany"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      CS50x - Introduction to Computer Science
      <Link
        href={CS50Url}
        calsses="btn no-underline"
        text="(Check)"
        style="primary"
        target="_blank"
      />
    </li>
    <li>
      Kotlin Core
      <Link
        href={kotlinCoreUrl}
        calsses="btn no-underline"
        text="(Check)"
        style="primary"
        target="_blank"
      />
    </li>
    <li>
      Exin Agile Scrum Master
      <Link
        href={ASMUrl}
        calsses="btn no-underline"
        text="(Check)"
        style="primary"
        target="_blank"
      />
    </li>
    <li>
      Exin Agile Foundation
      <Link
        href={ASFUrl}
        calsses="btn no-underline"
        text="(Check)"
        style="primary"
        target="_blank"
      />
    </li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div> -->

  <!-- <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    
    <li>Kotlin</li>
    <li>Java</li>
    <li>Gradle</li>
    <li>Skill Name</li>
    <li>HTML/CSS</li>
    <li>PHP/Laravel</li>
    <li>JSON</li>
    <li>MySQL</li>
    <li>Python/Flask</li>
  </ul>
</BaseLayout>
